<div class="container">
  <h1>Search for Addressess</h1>
  <div [hidden]="authenticated">
      <p>Access Denied</p>
    </div>
    <div [hidden]="!authenticated">
    <div class="form-group">
      <label for="searchBox">Search for a Address</label>
      <input [(ngModel)]="searchTerm" type="text" class="form-control" id="searchBox" aria-describedby="search term" placeholder="Enter search term">
      <small id="searchHelp" class="form-text text-muted">Type a text to search for addressess.</small><br>
      <button (click)="search()" type="submit" class="btn btn-primary">Submit</button>
      <button [disabled]="!(currentPage > 1)" (click)="previousPage()" type="submit" class="btn btn-primary">Previous Page</button>
      <button [disabled]="!(numberOfPages > currentPage)" (click)="nextPage()" type="submit" class="btn btn-primary">Next Page</button>
    </div>
  </div>
  <div [hidden]="!results">
    <h3>Search Results: showing page {{currentPage}} of total of {{numberOfPages}}</h3>
    <div class="container"*ngFor="let address of addressList; let i = index">
        <p (click)="showDetails(i)" *ngIf="address.companyName != null">Company {{address.companyName}}</p>
        <p (click)="showDetails(i)" *ngIf="address.firstName != null">Person {{address.firstName}} {{address.lastName}}</p>
    </div>
  </div>
  <div *ngIf="selected">
      <h3>Selected Entry</h3>
      <p>Company Name: {{entry.companyName}}</p>
      <p>Firstname: {{entry.firstName}}</p>
      <p>Lastname: {{entry.lastName}}</p>
      <p>Address: {{entry.address}}</p>
      <p>Phonenumber: {{entry.phoneNumber}}</p>
      <p>Gender: {{entry.gender}}</p>
  </div>
</div>
